@charset "UTF-8";
a {
  color: #30b2fc !important; }

.attention *,
.tip *,
.note * {
  color: #3b4351; }

* {
  scroll-behavior: smooth;
  letter-spacing: 0.6px;
  font-size: 14px; }

.off-canvas-content,
.cutline b,
body {
  background-color: #1c1c1e !important; }

a:link,
a:visited,
a:hover {
  text-decoration: none; }

body {
  transition: all 0.4s; }

.book-post-custom-title {
  text-align: center;
  font-size: 40px;
  line-height: 80px;
  height: 80px;
  width: 100%;
  color: white;
  font-weight: bold; }

.book-post-custom-describe {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  height: 20px;
  width: 100%;
  margin-bottom: 20px; }

.book-menu h1 {
  font-size: 15px;
  cursor: default; }
  .book-menu h1 * {
    font-weight: 800 !important; }

.book-sidebar .book-brand a span {
  margin-left: 0.5rem !important; }

.accordion label {
  margin-left: 11px; }

.accordion-body {
  transition: all 0.2s !important; }

.accordion-body ul {
  margin-bottom: 0; }

.accordion-body li:last-child {
  margin-bottom: 0 !important; }

.accordion {
  padding: 0.625rem 0.6rem 0.625rem 1.5rem; }

.book-sidebar .book-menu .uncollapsible {
  padding-top: 6px; }

#body-color {
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 1s;
  background-color: #1C1C1E; }
  #body-color * {
    transition: all 1s; }
  #body-color .star-back {
    transition: all 1s; }
  #body-color .star {
    transition: all 1s; }
  #body-color .back-color {
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: none;
    transition: all 1s;
    background: #000; }

#body-color.dawn .back-color {
  background: radial-gradient(220% 105% at top center, #162649 10%, #65366f 40%, #ae546f 65%, #c5c581);
  opacity: 0.5; }

#body-color.dawn .star-back > .star {
  background: #f7f7b6; }

#body-color.dark .star-back > .star {
  background: #fff; }

#body-color.classic .back-color {
  background: #1c1c1e; }

#body-color.classic .star-back > .star {
  display: none; }

#body-color.p5 .back-color {
  background-image: url("../../images/other/p5_back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

#body-color.p5 .star-back > .star {
  display: none; }

#body-color.scarlet .back-color {
  background-image: url("../../images/other/sv_back3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

#body-color.scarlet .star-back > .star {
  display: none; }

#body-color.violet .back-color {
  background-image: url("../../images/other/sv_back4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

#body-color.violet .star-back > .star {
  display: none; }

#body-color.p3r .back-color {
  background: radial-gradient(80% 150% at top center, #40a4fc 40%, #0716b0);
  opacity: 0.8; }

#body-color.p3r .star-back > .star {
  background: #ffffff; }

#body-color.ghosttrick .back-color {
  background-image: url("../../images/other/ghosttrick_back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

#body-color.ghosttrick .star-back > .star {
  display: none; }

#body-color.pokemon .back-color {
  background-image: url("../../images/other/pokemon_back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

#body-color.pokemon .star-back > .star {
  display: none; }

#body-color.sleep .back-color {
  background-image: url("../../images/other/sleep_back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

#body-color.sleep .star-back > .star {
  background-color: #686868; }

#body-color.dedsec .back-color {
  background-image: url("../../images/other/dedsec_back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

#body-color.dedsec .star-back > .star {
  display: none; }

.img-hide {
  width: 0;
  height: 0;
  overflow: hidden; }

@keyframes rotate {
  0% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0); }
  100% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg); } }

.star-back {
  transform: perspective(500px);
  transform-style: preserve-3d;
  position: absolute;
  bottom: 0;
  perspective-origin: 50% 100%;
  left: 50%;
  animation: rotate 90s infinite linear;
  z-index: 1; }
  .star-back .star {
    width: 2px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0 -300px;
    transform: translate3d(0, 0, -300px);
    backface-visibility: hidden; }

.footer-com {
  background-color: #0000007a !important;
  z-index: 2;
  height: 30px;
  position: fixed;
  transition: all 0.16s;
  bottom: 4px;
  left: calc(14rem + 6px);
  width: calc(84% - 13.65rem - 6px);
  box-shadow: 0px 0px 13px #2626268a;
  border: 1px solid #494949; }
  .footer-com .center {
    width: calc(100% - 146px);
    margin-left: 32px;
    line-height: 29px;
    height: 30px;
    font-size: 12px;
    letter-spacing: 1.2px;
    font-family: "siyuan";
    display: inline-block;
    overflow: hidden; }
    .footer-com .center .expand {
      background-color: #49494917;
      width: 100%;
      transition: all 1s;
      background-image: radial-gradient(#fcfcfc17 1px, #a9a9a917 1px);
      background-size: 4px 4px;
      backdrop-filter: saturate(50%) blur(1px); }
      .footer-com .center .expand .marquee-wrap {
        padding-left: 300px;
        transition: all 0.2s;
        white-space: nowrap;
        -webkit-animation: marquee 30s linear infinite;
        animation: marquee 30s linear infinite;
        animation-play-state: running; }
        .footer-com .center .expand .marquee-wrap:hover {
          animation-play-state: paused; }
        .footer-com .center .expand .marquee-wrap > span {
          color: #fff;
          margin-right: 30px;
          cursor: pointer; }
          .footer-com .center .expand .marquee-wrap > span > b.pink {
            color: #ff004e;
            text-shadow: 0 0 5px #620a23b8; }
          .footer-com .center .expand .marquee-wrap > span > b.blue {
            color: #479fe3;
            text-shadow: 0 0 5px #1d5c8bb8; }
          .footer-com .center .expand .marquee-wrap > span > b.green {
            color: #80cacb;
            text-shadow: 0 0 5px #157173b8; }
          .footer-com .center .expand .marquee-wrap > span > i {
            font-style: normal; }
            .footer-com .center .expand .marquee-wrap > span > i span {
              transition: all 0.2s;
              color: #ffffff7f; }
          .footer-com .center .expand .marquee-wrap > span:hover > i span {
            color: #fff; }

@keyframes marquee {
  0% {
    opacity: 0;
    transform: translateX(0); }
  5% {
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    transform: translateX(-1500px);
    opacity: 0; } }

.back-to-top {
  position: fixed;
  bottom: 4px;
  left: calc(84% - 5.35rem);
  transition: all 0.16s;
  width: 114px;
  height: 30px;
  background-color: #434343e0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .back-to-top:hover {
    text-shadow: 0 0 4px white;
    background-color: #434343e0; }

/* 标签页设置 */
.tag-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.tag-list-item {
  zoom: 2;
  margin-right: 10px;
  padding: 1px 15px 1px 15px;
  list-style: none;
  border: 1px solid silver;
  border-radius: 2px;
  background-color: #121214; }

.uncollapsible:last-of-type {
  display: block;
  border-top: 10px solid red; }

.book-menu {
  backdrop-filter: blur(4px);
  background-color: #54545430; }

body,
.book-sidebar .book-menu a,
.book-sidebar .book-brand a,
.hidden-page-button,
.gitalk_btn {
  color: white !important; }

.book-sidebar .book-menu .accordion {
  border-top: 1px solid #2D2630 !important; }

.book-brand span {
  font-size: 17px; }

.book-post img {
  margin-top: 15px;
  width: 40%;
  margin-bottom: 5px; }

.book-tocbot {
  max-height: 30vh !important;
  padding: 0; }

.book-post-info {
  height: 100%;
  max-width: 12rem !important; }

.book-sidebar .book-menu .accordion i.icon-arrow-down::before {
  border-color: #cecece !important; }

.v[data-class="v"] .status-bar,
.v[data-class="v"] .veditor,
.v[data-class="v"] .vinput,
.v[data-class="v"] p,
.v[data-class="v"] pre code {
  color: #eee !important; }

.v[data-class="v"] .vwrap,
.vsubmit {
  border: 1px solid #9a9a9a !important; }

.v[data-class="v"] .vwrap .vheader .vinput {
  border-bottom: 1px dashed white !important; }

code {
  background: #000000; }

.book-menu-page {
  margin-top: 60px;
  width: 100%;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .book-menu-page > div {
    position: relative;
    cursor: pointer;
    margin-bottom: 30px; }
    .book-menu-page > div:hover > div {
      border-radius: 0;
      box-shadow: 0 4px 12px #000000a8; }
    .book-menu-page > div > div {
      width: 20rem;
      height: 12.5rem;
      background-size: 20rem auto;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 0.5rem;
      transition: all 0.2s;
      box-shadow: 0 5px 11px #0000003d; }
    .book-menu-page > div > p {
      font-size: 1rem !important;
      font-weight: bold;
      text-align: center;
      margin-top: 20px; }

.hide-lg {
  margin-top: -44px;
  padding-top: 40px;
  background-position: bottom;
  background-repeat: no-repeat; }

.off-canvas-content .book-post-info .book-post-meta .author {
  display: flex;
  padding: 10px 10px; }

.off-canvas-content .book-content .book-post h1,
.off-canvas-content .book-content .book-post h2 {
  border-bottom: 1px solid #666666 !important; }

.off-canvas-content .book-post-info .book-post-meta .author .author-img {
  display: flex;
  align-items: center;
  border: 1px solid #0000008a;
  border-radius: 50%; }

.avatar img {
  border-radius: 50%;
  height: 96%;
  position: relative;
  width: 96%;
  z-index: 1;
  margin: 2%;
  margin-left: 3%; }

.bottom {
  width: 100%;
  height: 350px;
  position: absolute;
  border-top: 6px solid #2da4e1;
  left: 0px;
  bottom: 24px;
  box-shadow: 0px 0px 13px #2626268a;
  background-color: #00000094;
  background-image: radial-gradient(#fcfcfc17 1px, #a9a9a917 1px);
  background-size: 4px 4px;
  backdrop-filter: saturate(50%) blur(1px); }
  .bottom.not-show {
    background: transparent;
    backdrop-filter: unset !important;
    border-color: transparent;
    box-shadow: none !important; }

.bottom > .intro {
  color: white;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align: center;
  font-style: italic;
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .bottom > .intro div {
    margin-bottom: 0;
    width: 80%; }

.link_l {
  padding-left: 15px;
  display: block;
  width: 155px;
  height: 36px;
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box; }

.bottom a div {
  width: 28px;
  height: 28px;
  float: left;
  margin-top: 5px; }

.bottom a > span {
  color: white;
  font-weight: bold;
  margin-left: 6px;
  line-height: 38px; }

.languages {
  text-align: center;
  color: white;
  margin-top: 206px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .languages > span {
    width: 40px;
    display: block;
    text-align: center; }
  .languages * {
    transition: all 0.2s; }

#side-story {
  color: #888d8f !important;
  cursor: pointer; }
  #side-story:hover {
    text-shadow: 0 0 4px #ffffff7a;
    color: #83BD3B !important;
    transform: matrix(10deg); }
    #side-story:hover:before {
      content: "[ "; }
    #side-story:hover:after {
      content: " ]"; }

.links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }
  .links > a {
    margin-top: 10px; }

/*回到旧站*/
.backtoanulife {
  width: 100%;
  padding-left: 12px;
  padding-right: 15px;
  background-color: #fd4300;
  font-size: 40px;
  color: white;
  line-height: 100px;
  text-align: center;
  text-shadow: 3px 3px #141145;
  box-shadow: #141145 2px 2px 0px; }

.note {
  margin: 0 !important;
  border-radius: 0px !important;
  padding: 10px 16px !important;
  border: 0 !important;
  background: linear-gradient(52.78deg, #003edd 30.03%, #0b7bf8 89.59%); }
  .note p {
    font-size: 12px !important;
    color: white !important; }

/*gitalk&valine双评论端*/
.valine_btn {
  width: 120px;
  height: 40px;
  line-height: 40px;
  /*background-color: #FFFFFF;*/
  float: left;
  text-align: center;
  color: #306cf8; }

.gitalk_btn {
  width: 180px;
  height: 40px;
  line-height: 40px;
  /*background-color: #FFFFFF;*/
  float: left;
  text-align: center;
  color: black; }

.moving {
  width: 120px;
  height: 2px;
  margin-top: 40px;
  background-color: #306cf8;
  position: absolute; }

#gitalk-container {
  display: none; }

#vcomments {
  margin-top: 20px !important; }

.combtn {
  width: 302px;
  height: 42px;
  cursor: pointer;
  margin-top: 50px; }

#toDarkButton,
#toLightButton {
  color: #6d6d6e;
  cursor: pointer; }

.book-sidebar-bottom {
  margin: 6px;
  margin-bottom: 4px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 12px);
  height: 30px;
  background: #11111191;
  /* box-shadow: 0px 0px 4px 0px #13131391; */
  transition: all 0.2s;
  font-weight: bold;
  color: #ababab; }
  .book-sidebar-bottom > .theme-group {
    transition: all 0.2s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: auto;
    height: 235px;
    flex-wrap: wrap; }
    .book-sidebar-bottom > .theme-group > div {
      text-align: right;
      font-style: italic;
      background-size: contain;
      width: 60px;
      height: 60px;
      font-weight: 200;
      justify-content: center;
      margin: 9px;
      border-radius: 2px;
      border: 1px solid #08436e;
      transition: all 0.2s;
      padding-right: 5px;
      line-height: 94px;
      cursor: pointer; }
      .book-sidebar-bottom > .theme-group > div:hover {
        border: 1px solid #d7d7d7;
        box-shadow: 0 0 10px #d5d5d539; }
  .book-sidebar-bottom > .sidebar-title {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30px;
    cursor: pointer; }
    .book-sidebar-bottom > .sidebar-title > b {
      margin-left: 10px;
      display: block;
      transform: rotate(-90deg) scale(2, 1);
      margin-right: 9px;
      line-height: 30px;
      width: 8px;
      font-weight: 200;
      transition: all 0.2s; }
    .book-sidebar-bottom > .sidebar-title > span {
      line-height: 32px;
      margin-right: 20px; }
    .book-sidebar-bottom > .sidebar-title:hover {
      text-shadow: 0 0 4px rgba(255, 255, 255, 0.674); }
  .book-sidebar-bottom:hover {
    color: #fff;
    background: #121212f0; }
  .book-sidebar-bottom.sidebar-open {
    height: 280px;
    color: #fff;
    background: #121212f0;
    overflow: hidden; }
    .book-sidebar-bottom.sidebar-open > .theme-group {
      opacity: 1; }
    .book-sidebar-bottom.sidebar-open > .sidebar-title > b {
      transform: rotate(90deg) scale(2, 1);
      width: 6px; }

.announce-and-iframe {
  overflow: hidden; }
  .announce-and-iframe .iframe-div {
    width: 30%;
    float: right;
    margin-right: 10px; }
  .announce-and-iframe .announce {
    float: left;
    width: 65%; }

.suipai {
  width: 100%;
  height: auto;
  margin-bottom: 100px; }
  .suipai a {
    width: 670px;
    display: block; }

.book-sidebar .book-brand a img {
  width: auto !important;
  margin-top: 2px; }

.suipai-item {
  width: 670px;
  height: 100px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  color: white;
  position: relative;
  overflow: hidden;
  transition: all 0.2s;
  box-shadow: 0px 2px 10px 0px #000000; }
  .suipai-item:hover {
    box-shadow: 0px 8px 16px 1px #000000; }

.bp {
  width: 670px;
  height: 100px;
  background-color: black;
  position: absolute;
  z-index: 0;
  opacity: 0; }

.suipai-title {
  width: 670px;
  text-align: left;
  position: relative;
  float: left;
  z-index: 100;
  font-size: 22px;
  padding-left: 20px; }

.suipai-pages {
  width: 80px;
  height: 100px;
  position: absolute;
  float: right;
  right: -80px;
  font-size: 20px;
  background-color: black;
  color: white;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
  z-index: 101; }

/*作品*/
.shits {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 10px; }

.myProc {
  width: 328px;
  height: 274px;
  margin-right: 40px;
  float: left;
  margin-bottom: 30px;
  cursor: pointer;
  background-color: #2c2c2c00;
  color: #fff;
  position: relative;
  border-radius: 3px;
  box-shadow: 0px 0px 12px 0px #0000004a;
  background-image: radial-gradient(#ffffff0a 1px, #ffffff00 1px);
  background-size: 4px 4px;
  backdrop-filter: saturate(100%) blur(10px); }

.shit_title_img {
  width: 300px;
  height: 180px;
  border-radius: 2px;
  background-position: center;
  background-size: cover;
  margin-left: 14px;
  margin-top: 14px; }

.shits span:last-of-type {
  display: block;
  text-align: center;
  line-height: 13px;
  font-size: 12px;
  position: absolute;
  width: 328px;
  color: #bfbfbf;
  height: 12px;
  bottom: 16px;
  overflow: hidden; }

.shits span:first-of-type {
  display: block;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: 18px;
  width: 328px;
  position: absolute;
  bottom: 30px; }

.shits i {
  display: none; }

.cutline {
  width: 100%;
  height: 22px;
  float: none !important;
  color: #bebebe;
  text-align: center; }

.cutline b {
  background-color: white;
  line-height: 38px;
  font-size: 20px; }

.off-canvas-content .book-content .book-post > h1:first-child {
  margin-top: -6px !important; }

.book-sidebar .book-brand {
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  position: fixed;
  padding-top: 1.1rem;
  border-bottom: 1px solid #e7e7e7;
  height: calc(3.8rem + 4px) !important;
  background-color: white;
  z-index: 20;
  box-sizing: border-box;
  border-bottom: 1px solid #c8c8c81f;
  box-shadow: 0 0 20px #00000014;
  cursor: pointer;
  margin-top: -2px;
  background-color: #aeaeae26 !important;
  backdrop-filter: saturate(100%) blur(4px); }
  .book-sidebar .book-brand a {
    text-align: center;
    margin-left: 1.8rem;
    transition: all 0.2s;
    position: relative; }
  .book-sidebar .book-brand img {
    transform-origin: 50% 50%;
    /* 设置旋转中心 */
    transition: all 1s; }
  .book-sidebar .book-brand:hover {
    text-shadow: 0 0 4px white;
    backdrop-filter: saturate(100%); }
    .book-sidebar .book-brand:hover img {
      transform: rotateY(360deg);
      /* 旋转 360 度 */ }
  .book-sidebar .book-brand span {
    position: relative;
    margin-top: 4px; }
    .book-sidebar .book-brand span b {
      position: absolute;
      right: -10px;
      /* opacity: 0.4; */
      bottom: -8px;
      transform: rotateY(20deg) rotateX(-30deg);
      color: #fff;
      background-color: #000000a3;
      font-weight: bold;
      box-shadow: 2px 2px 0 #ff0049b3;
      padding: 0 6px;
      font-size: 12px; }

.author-title {
  margin-left: 12px; }

.off-canvas-content .book-post-info .book-post-meta .link {
  margin-left: 5px !important;
  line-height: 25px; }
  .off-canvas-content .book-post-info .book-post-meta .link a {
    color: white !important;
    background-color: #686a6b;
    padding: 0 5px;
    border-radius: 4px; }

.book-sidebar .book-menu {
  width: 14rem !important; }
  .book-sidebar .book-menu .current-tab:after {
    content: " ⇦";
    color: #305edb; }
  .book-sidebar .book-menu h1,
  .book-sidebar .book-menu h2,
  .book-sidebar .book-menu h3,
  .book-sidebar .book-menu h4,
  .book-sidebar .book-menu h5,
  .book-sidebar .book-menu h6 {
    padding: 0 0.6rem 0 1.25rem;
    margin: 1.25rem 0 0.7rem 0;
    font-size: 0.7rem; }

.book-sidebar {
  background: transparent !important;
  box-shadow: 0 0 18px #0000002e;
  width: 14rem !important;
  overflow: hidden; }

.book-sidebar .book-menu ul {
  padding-left: 1.2rem !important;
  margin-left: 0 !important;
  padding-top: 4px !important; }
  .book-sidebar .book-menu ul * {
    line-height: 1.8 !important; }

.book-content {
  position: relative;
  padding: 0 2em !important; }

.book-post-meta link {
  padding-left: 6px; }

.frsi {
  font-size: 10px;
  color: #999ca8;
  width: 55%;
  text-align: right;
  position: relative;
  float: right;
  z-index: 1;
  margin-bottom: 50px; }

.l_logo {
  width: 17px;
  vertical-align: -3px;
  margin-right: 6px; }

.off-canvas-content {
  padding: 1.1rem 2.2rem 0.5em 2.2em !important; }

.book-navbar {
  position: sticky;
  top: 0;
  padding-top: 15px !important;
  z-index: 20;
  background-color: transparent !important; }
  .book-navbar i {
    color: #fff !important; }

.drink-time {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20000;
  text-align: center;
  top: 0;
  left: 0;
  display: none;
  color: black;
  background-color: #eeeeee; }

.drink-description {
  position: fixed;
  width: 100%;
  height: 10%;
  z-index: 20000;
  color: #466910;
  bottom: 0;
  background-color: #f8f8f8;
  left: 0;
  font-size: 30px;
  text-align: center;
  vertical-align: middle; }

/*回到顶部*/
.book-post {
  position: relative; }

.articleBottom {
  width: 100%;
  height: 28px;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  color: #bebebe;
  display: flex;
  justify-content: space-between; }
  .articleBottom > i {
    width: 100%;
    height: 28px;
    display: block;
    border-bottom: 1px solid #bebebe; }
  .articleBottom > b {
    width: 650px; }
  .articleBottom div {
    display: inline-block;
    position: relative;
    width: 68px;
    height: 30px; }
  .articleBottom span {
    position: absolute;
    top: 13px;
    display: block;
    text-align: center;
    width: 68px; }
  .articleBottom img {
    margin-top: 10px;
    width: auto !important;
    height: auto !important; }

/*文章头图*/
.articlehead {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px; }

/* 友情链接 */
.friendUrl {
  font-size: 10px;
  color: #999ca8 !important; }

.friendUrl:hover {
  color: #2da4e1 !important; }

.myProjects_shit_title_img {
  width: 320px;
  height: 200px;
  background-position: center;
  background-size: cover;
  float: left;
  /* margin-left: 4px;
  margin-top: 4px; */
  box-shadow: 0px 10px 8px -10px black; }

.myProjects_introduce {
  float: left;
  height: 200px;
  margin-left: 20px;
  padding-left: 15px;
  border-left: 2px solid #dadee4; }

.little_img {
  width: 84px;
  height: 26px;
  margin: -2px 0 0 0 !important;
  box-shadow: none !important;
  display: inline-block !important;
  position: absolute; }

.book-post-info {
  background-color: rgba(255, 255, 255, 0.432);
  border-radius: 20px; }

.book-post-info {
  background-color: transparent; }

.b-link {
  width: 307px;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #c5667d;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1818186e;
  transition: all 0.2s; }
  .b-link > div {
    width: 30px;
    height: 30px;
    background-image: url("../../images/other/dabprFS.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-right: 10px; }
  .b-link > span {
    font-size: 15px;
    line-height: 30px; }
  .b-link:hover {
    background-color: #0000009c; }

.newGuide {
  width: 62vw;
  height: 450px;
  border-radius: 10px; }
  .newGuide .guide {
    box-sizing: border-box;
    margin-left: 10px;
    float: left;
    width: calc(25% - 10px);
    height: 100%;
    transition: 0.2s; }
    .newGuide .guide > a > div {
      box-sizing: content-box;
      margin-bottom: 10px;
      width: 100%;
      height: calc(25% - 7.2px);
      background-size: 100% auto;
      background-position: center;
      overflow: hidden;
      position: relative;
      transition: all 0.2s; }
      .newGuide .guide > a > div span {
        width: 100%;
        text-align: center;
        letter-spacing: 1.6px;
        line-height: 105px;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        z-index: 1;
        position: absolute;
        top: 0; }
      .newGuide .guide > a > div > div {
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: 0.1s; }
    .newGuide .guide > a > div:hover {
      box-shadow: 0px 2px 11px 0px #0d0d0dd6; }
      .newGuide .guide > a > div:hover > span {
        opacity: 0.8; }
      .newGuide .guide > a > div:hover > div {
        cursor: pointer;
        text-decoration: none !important; }
    .newGuide .guide .note_guide {
      border-radius: 10px;
      box-shadow: 0 0 14px 0px #1a1a1aad;
      background-image: url("../../images/other/YfLHgA.jpg"); }
    .newGuide .guide .nintendo_guide {
      border-radius: 10px;
      box-shadow: 0 0 14px 0px #1a1a1aad;
      background-image: url("../../images/other/IMG_6139.JPG"); }
    .newGuide .guide .jay_guide {
      border-radius: 10px;
      box-shadow: 0 0 14px 0px #1a1a1aad;
      background-image: url("../../images/photos/2021/DSC00361.JPG"); }
    .newGuide .guide .home_guide {
      border-radius: 10px;
      box-shadow: 0 0 14px 0px #1a1a1aad;
      background-image: url("../../images/other/waoh6O.jpg");
      background-position: bottom;
      border: 0; }

.zhegaia,
.zhegaib,
.zhegaic,
.zhegaid {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: black;
  opacity: 0.6;
  background-image: radial-gradient(#fcfcfc14 1px, #000000 1px);
  background-size: 4px 4px;
  backdrop-filter: saturate(50%) blur(1px); }

.zhegaia {
  width: 0; }

.scrollbar ::-webkit-scrollbar,
html ::-webkit-scrollbar {
  width: 4px;
  height: 1px; }

.scrollbar ::-webkit-scrollbar-thumb,
html ::-webkit-scrollbar-thumb {
  background: #004ed0; }

.scrollbar ::-webkit-scrollbar-track,
html ::-webkit-scrollbar-track {
  background: transparent; }

/* 网页常用颜色 */
.colorBoard {
  padding: 10px;
  width: 230px;
  height: 90px;
  float: left; }
  .colorBoard .btn {
    width: 70px;
    height: 70px;
    float: left;
    padding: 0;
    text-align: center;
    border-radius: 0;
    line-height: 75px;
    font-size: 6px;
    cursor: pointer;
    text-shadow: 0px 0px 2px #000000;
    border: 0;
    color: #fff;
    position: relative;
    transition: 0.2s all; }
  .colorBoard .btn:first-of-type {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; }
  .colorBoard .btn:last-of-type {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; }
  .colorBoard .btn:hover {
    box-shadow: inset 0px 0px 7px 0px #00000069;
    font-weight: bolder;
    z-index: 1; }

.colorBoardTheme {
  padding: 10px;
  height: 90px;
  float: left; }
  .colorBoardTheme .btn {
    width: 70px;
    height: 70px;
    float: left;
    padding: 0;
    text-align: center;
    border-radius: 0;
    line-height: 75px;
    font-size: 6px;
    cursor: pointer;
    text-shadow: 0px 0px 2px #000000;
    border: 0;
    color: #fff;
    position: relative;
    transition: 0.2s all; }
  .colorBoardTheme .btn:first-of-type {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; }
  .colorBoardTheme .btn:last-of-type {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; }
  .colorBoardTheme .btn:hover {
    box-shadow: inset 0px 0px 7px 0px #00000069;
    font-weight: bolder;
    z-index: 1; }

.book-sidebar .book-menu .accordion {
  padding: 0.625rem 0.6rem 0.625rem 2rem !important;
  font-size: 15px; }

.book-sidebar .book-menu h1 {
  padding: 0 0.6rem 0 1.2rem !important;
  margin: 1.2rem 0 0.9rem 0 !important; }

.book-sidebar .book-menu .uncollapsible {
  padding: 0 0.6rem 0 1.25rem;
  margin: 0 0 0 0;
  border-top: 1px solid #343434 !important; }

.book-sidebar .book-menu li {
  margin-top: 1rem !important;
  margin-bottom: 1rem; }
  .book-sidebar .book-menu li a {
    transition: all 0.1s; }
  .book-sidebar .book-menu li:hover {
    text-shadow: 0 0 4px white; }

.clipboard_success {
  width: 200px;
  height: 40px;
  position: fixed;
  top: 40px;
  right: -210px;
  font-size: 16px;
  line-height: 40px;
  z-index: 2;
  background-color: #fff;
  border-left: 4px solid #4482F7;
  color: #000;
  display: none;
  transition: 1s all;
  cursor: default; }

.machine {
  overflow: hidden; }
  .machine > div {
    overflow: hidden; }
    .machine > div > a > div {
      width: 45%;
      height: 150px;
      line-height: 232px;
      margin: 10px;
      float: left;
      background-position: center;
      background-size: 100% auto;
      overflow: hidden;
      cursor: pointer; }
      .machine > div > a > div > span {
        font-size: 40px;
        font-weight: bold;
        font-style: italic;
        color: #fefefeef;
        font-family: "Arial Black";
        margin-left: 10px; }
  .machine > .nin > a:hover > div {
    background-image: none !important;
    background-color: red; }
    .machine > .nin > a:hover > div > span {
      color: white; }
  .machine > .plays > a:hover > div {
    background-image: none !important;
    background-color: blue; }
    .machine > .plays > a:hover > div > span {
      color: white; }
  .machine > .xbox > a:hover > div {
    background-image: none !important;
    background-color: green; }
    .machine > .xbox > a:hover > div > span {
      color: white; }
  .machine > .oth > a:hover > div {
    background-image: none !important;
    background-color: black; }
    .machine > .oth > a:hover > div > span {
      color: white; }

.toy_covers {
  margin-left: -20px;
  margin-top: -20px; }
  .toy_covers a {
    width: 100%;
    height: 100%; }
  .toy_covers .toy_div {
    width: 220px;
    height: 380px;
    background-size: 100% auto;
    display: inline-block;
    position: relative;
    margin: 30px 20px;
    transition: all 0.2s;
    box-shadow: 0px 2px 10px 0px #000000 !important; }
    .toy_covers .toy_div:hover {
      box-shadow: 0px 4px 14px 2px #000000 !important; }
  .toy_covers .back_black:hover {
    opacity: 0.1; }
  .toy_covers .back_black {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: all 0.2s; }
  .toy_covers .tocount {
    width: 45px;
    height: 20px;
    background-color: #6c9e22;
    position: absolute;
    right: 0;
    top: 20px;
    color: white;
    text-align: center;
    z-index: 2; }
  .toy_covers .descrip {
    font-size: 16px;
    line-height: 26px;
    padding: 10px 10px;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    z-index: 2; }
    .toy_covers .descrip b {
      font-size: 16px; }

.pokemon-form .pokemon-background-pic {
  width: 100%;
  height: 300px;
  background-image: url("../../images/other/2F65x1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: red; }

.pokemon-form .pokemon-background-name {
  font-size: 25px;
  text-align: center;
  line-height: 55px;
  font-weight: bold; }

.book-post h1 a {
  color: white !important;
  font-size: 1.4rem;
  font-weight: bold; }
  .book-post h1 a:visited {
    color: white !important; }
  .book-post h1 a:hover {
    color: #0c53cd !important; }

.platform-page {
  background-color: #ffffff2d;
  backdrop-filter: saturate(80%) blur(4px) hue-rotate(-10deg);
  background-size: 4px 4px;
  background-image: radial-gradient(#fcfcfc09 1px, #2c2c2c08 1px);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.platform {
  display: inline-block;
  margin: 40px;
  margin-bottom: 80px;
  width: 280px;
  height: 100px;
  cursor: pointer;
  position: relative;
  padding: 20px 0;
  border-radius: 24px; }
  .platform:hover .platform-pic {
    transform: rotate3d(0.3, 0.8, 0.2, -30deg);
    opacity: 0; }
  .platform:hover .inner-text {
    transform: rotate3d(0, 0, 0, 0);
    opacity: 1; }
  .platform .platform-pic {
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    position: absolute;
    background-position: center;
    background-repeat: no-re