.book-menu,
.book-brand {
  background-color: #242426 !important; }

.off-canvas-content,
.articleBottom b,
.cutline b,
body {
  background-color: #1c1c1e !important; }

.book-sidebar .book-menu .accordion {
  border-top: 1px solid #242426 !important; }

body,
.book-sidebar .book-menu a,
.book-sidebar .book-brand a,
.hidden-page-button,
.gitalk_btn {
  color: white !important; }

.off-canvas-content .book-content .book-post h1,
.off-canvas-content .book-content .book-post h2 {
  border-bottom: 1px solid #a8a8a8; }

.book-sidebar .book-menu .accordion i.icon-arrow-down::before {
  border-color: #cecece !important; }

.v[data-class="v"] .status-bar,
.v[data-class="v"] .veditor,
.v[data-class="v"] .vinput,
.v[data-class="v"] p,
.v[data-class="v"] pre code {
  color: #eee !important; }

.book-sidebar .book-menu .uncollapsible {
  border-top: 1px solid #343434 !important; }

.book-sidebar .book-brand {
  border-bottom: 1px solid #6d6d6e; }

.book-sidebar {
  box-shadow: none !important; }

code {
  background: #000000; }

.v[data-class="v"] .vwrap,
.vsubmit {
  border: 1px solid #9a9a9a !important; }

.v[data-class="v"] .vwrap .vheader .vinput {
  border-bottom: 1px dashed white !important; }

.off-canvas-content .book-content .book-post h1,
.off-canvas-content .book-content .book-post h2 {
  border-bottom: 1px solid #666666 !important; }

.book-sidebar .book-menu .current-tab {
  color: white !important; }

.book-sidebar .book-menu h1,
.book-sidebar .book-menu h2,
.book-sidebar .book-menu h3,
.book-sidebar .book-menu h4,
.book-sidebar .book-menu h5,
.book-sidebar .book-menu h6 {
  padding: 0 0.6rem 0 1.25rem;
  margin: 1.25rem 0 0.7rem 0;
  font-size: 0.7rem; }

.zhegaia,
.zhegaib,
.zhegaic,
.zhegaid {
  background-color: black; }

.book-menu h1 {
  font-size: 15px; }

a {
  color: #30b2fc !important; }

.attention *,
.tip *,
.note * {
  color: #3b4351; }

.book-navbar i {
  color: white !important; }

.book-post h1 a {
  color: white !important; }

.newGuide .guide > a > div:hover {
  box-shadow: 0px 5px 15px 5px #000; }

.guidePic .title {
  font-size: 40px;
  bottom: -20px; }

.guidePic:hover {
  box-shadow: 0px 5px 15px 5px #000000; }

.book-post h1 a:visited {
  color: white !important; }

.book-post h1 a:hover {
  color: #0c53cd !important; }

.to_top .to-top-triangle {
  border-bottom: 21px solid white; }

.machinePagination > div > a > div,
.myPagination > div > a > div {
  border: 1px solid #808080;
  color: white !important; }
  .machinePagination > div > a > div:hover,
  .myPagination > div > a > div:hover {
    background-color: white;
    color: black !important; }

.machinePagination > div > a > .page_chosen,
.myPagination > div > a > .page_chosen {
  background-color: white;
  color: black !important; }

.poke-gen * {
  border-color: rgba(255, 255, 255, 0.2) !important; }

.poke-gen tr .ppp .pokemon-pixel {
  background-color: rgba(255, 255, 255, 0.1); }

.poke-gen tr td .pokemon-move .move {
  background-image: linear-gradient(90deg, transparent, rgba(2, 2, 2, 0.699)); }

.ns-card,
.pc-card,
.gba-card,
.liusi-card,
.gb-card,
.ds-card,
.gbc-card {
  box-shadow: 0px 3px 5px 1px #000000; }

.g-t {
  color: white !important; }

.out:hover .ns-card,
.out:hover .pc-card,
.out:hover .gba-card,
.out:hover .liusi-card,
.out:hover .gb-card,
.out:hover .ds-card,
.out:hover .gbc-card {
  opacity: 0.7;
  box-shadow: 0px 8px 7px 3px #000000; }

.suipai-item {
  box-shadow: 0px 2px 10px 0px #000000; }
  .suipai-item:hover {
    box-shadow: 0px 8px 16px 1px #000000; }

.toy_div {
  box-shadow: 0px 2px 10px 0px #000000 !important; }
  .toy_div:hover {
    box-shadow: 0px 4px 14px 2px #000000 !important; }

.book-sidebar .book-brand a span {
  margin-left: 0.5rem !important; }

.book-sidebar-bottom {
  background: #242426;
  box-shadow: 0px 0px 14px 0 #0a0a0a; }

.backlogo:hover {
  color: white !important; }

@media (max-width: 959px) {
  .book-brand a {
    margin-left: 32px !important; } }

.book-navbar {
  background-color: #1c1c1e !important; }

.star-back.night .star {
  background: #f7f7b6; }
