@media (max-width: 959px) {
  * {
    letter-spacing: 0.3px !important;
    font-size: 12px !important; }
  .book-menu,
  .book-brand {
    background-color: #242426 !important; }
  .footer-com {
    display: none; }
  .phone-ke {
    width: 100% !important; }
  .book-sidebar .book-menu h1 {
    margin-top: -0.3rem !important; }
  h1 {
    font-size: 18px !important; }
  .platform {
    margin: 0 auto !important;
    display: block !important; }
  .book-post-custom-title {
    font-size: 20px !important;
    height: 40px;
    line-height: 40px; }
  .myProc {
    zoom: 0.9; }
    .myProc span:first-of-type {
      font-size: 1.5em !important; }
    .myProc span:last-of-type {
      font-size: 1.1em !important; }
  .shits {
    margin-left: calc(50vw - 185px) !important; }
  .book-sidebar {
    box-shadow: none !important; }
  .out {
    zoom: 0.4; }
    .out .g-t span {
      font-size: 0.5rem !important; }
    .out .g-t .tt {
      margin-top: 0.5rem !important; }
  .book-post img {
    width: auto !important;
    height: auto !important; }
  .book-post h1 a {
    font-size: 18px !important; }
  h3 {
    font-size: 16px !important; }
  .swiper-initialized {
    width: 100% !important; }
    .swiper-initialized .swiper-slide div img {
      height: auto !important; }
  legend {
    font-size: 20px !important;
    margin-left: -20px; }
  .toy_covers {
    margin-left: -10px !important;
    margin-top: -10px !important; }
    .toy_covers .toy_div {
      margin-bottom: 0 !important;
      zoom: 0.4; }
    .toy_covers .descrip {
      font-size: 1.5rem !important; }
      .toy_covers .descrip b {
        font-size: 1.5rem !important; }
  .announce-and-iframe .announce {
    float: none !important;
    width: auto !important; }
  .suipai a {
    width: 100%; }
  .suipai-item {
    width: 100% !important;
    height: 50px !important;
    line-height: 50px !important; }
  .accordion-body > ul > li {
    padding-left: 6px !important; }
  .announce-and-iframe .iframe-div {
    float: none !important;
    width: auto !important;
    margin: 5px !important;
    margin-top: 30px !important; }
  .aaaaa {
    zoom: 0.7; }
  .book-comments {
    zoom: 0.8; }
  .frsi {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
    zoom: 0.7; }
  .off-canvas-content {
    padding: 1.6rem 0.75rem !important; }
  .articlehead {
    height: 140px !important;
    background-size: 100% auto; }
  .machine > div > a > div {
    width: 100% !important; }
    .machine > div > a > div span {
      font-size: 21px !important;
      text-align: center;
      line-height: 260px; }
  .leftgames {
    width: 100%;
    overflow: hidden; }
    .leftgames a {
      width: 100%; }
    .leftgames * {
      font-size: 10px;
      line-height: 50px; }
  .guide {
    display: none; }
  .newGuide {
    height: 150px !important;
    width: 100% !important; }
  .mobileimg {
    display: none; }
  .swiper-pagination-bullet {
    width: 15px !important;
    height: 2px !important; }
  .guidePic .title {
    bottom: -7px !important;
    left: 6px !important; }
  .swiper-pagination-bullets {
    bottom: 0 !important; }
  .guidePic {
    width: 100% !important; }
  .swiper-container {
    border-radius: 4px !important; }
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important; }
  .book-sidebar .book-menu {
    top: 3.5rem !important; }
  .book-sidebar .book-brand {
    padding-top: 1.2rem;
    height: calc(3.6rem + 4px) !important; }
    .book-sidebar .book-brand a {
      zoom: 0.9;
      margin-left: 40px; }
  .des {
    zoom: 0.7; }
  .swiper-pagination-bullet {
    border-radius: 2px !important; }
  .pokemon-data-list {
    display: block !important; }
    .pokemon-data-list .full-saikyo-container {
      width: 100% !important;
      padding-left: 0 !important; }
    .pokemon-data-list .saikyo-name {
      position: absolute !important;
      height: 100px !important; }
      .pokemon-data-list .saikyo-name .saikyo-prod {
        height: 40px !important; }
  #typeLine,
  #gameTimeLine,
  #gameTimeLine,
  .pokemon-count-container {
    width: 100% !important; }
  .back-to-top {
    background-color: #43434374;
    bottom: 10px; } }
